//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://isaraw.github.io/[nc]
RewriteRule ^(.*)$ http://www.https://isaraw.github.io//$1 [r=301,nc]

//301 Redirect Old File
Redirect 301 /blog1.html /articles1.html
Redirect 301 /targeting.html /onlinetargeting.html